{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ rom.nome }} - Detalhes</title>
    <link rel="stylesheet" href="{% static 'core/css/detalhe_rom.css' %}">
</head>
<body>
<div class="container">
    <div class="rom-detalhe">
        <!-- Imagem da ROM -->
        <div class="rom-imagem">
            <img src="{{ rom.imagem.url }}" alt="{{ rom.nome }}">
            <!-- Estrelas -->
            <div class="estrelas" data-media="{{ media|default:0 }}">
                {% for i in "12345" %}
                    <span data-valor="{{ forloop.counter }}">★</span>
                {% endfor %}
            </div>
        </div>

        <!-- Informações da ROM -->
        <div class="rom-info">
            <h1>{{ rom.nome }}</h1>
            <p>{{ rom.get_emulador_display }}</p>

            <!-- Botões -->
            <button id="avaliar-btn" class="btn btn-azul">Avaliar</button>

            <!-- Média -->
            <p>Média: <span class="media">{{ media|default:"0" }}</span></p>
        </div>
    </div>
</div>

<script>
    const romId ='{{ rom.id }}';
</script>

<script src="{% static 'core/js/detalhe_rom.js' %}"></script>
</body>
</html>